body {
text-align: center;
padding: 1em 17em;
font-size: 15px;
}

div {

}

h1 {
    text-align: left;
}
.fixed{
position: fixed;
background: #eee;
top: 0;
left: 0;
padding: 7em;
}

.relative{
position: relative;
background: #eee;
padding: 3em 0 10em 0;
}

.absolute{
position: absolute;
background: #999;
padding: 2em;
right: -1em;
bottom: 0;
}